body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

p {
    font-size: 20px;
    color: grey;
}

.orange {
    color: orange;
}

.top {
    background-image: url(/imgs/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

.middle {
    background-image: url(imgs/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bottom {
    background-image: url(imgs/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 50%;
}

.flex-cont {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.para1 {
    width: 45%;
}

.tban {
    padding-left: 5%;
    padding-right: 10%;
}

.mban {
    padding-right: 5%;
    padding-left: 10%;
}

.button {
    background-image: linear-gradient(rgb(255, 96, 10), rgba(212, 10, 118, 0.861));
    color: antiquewhite;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
}

.box1 {
    box-shadow: 12px 12px 30px 10px grey;
    width: 40%;
    margin: 5%;
    border-left: 10px solid orangered;
    padding: 30px;
    border-radius: 5px;
    ;
}

.box2 {
    box-shadow: 12px 12px 30px 10px grey;
    width: 40%;
    margin: 5%;
    border-left: 10px solid blueviolet;
    padding: 30px;
    border-radius: 5px;
    ;
}

.exp {
    margin: 20px;
}

footer p {
    text-align: center;
}